
  <h1><a href="/">CraigsList Jr.</a></h1>
  <h3><a href="/cat">Category Name</a></h3>

  <ul>
    <li> <a href= "/cat/post"> Post </a> </li>
    <li><a href= "/cat/post">Post</a></li>
    <li><a href= "/cat/post">Post</a></li>
    <li><a href= "/cat/post">Post</a></li>
    <li><a href= "/cat/post">Post</a></li>

  </ul>
 

