<h1><a href="/">CraigsList Jr</a></h1>

<div class="form_container">
  <form action="/create" method="POST">
    <div class="input_field">
      <label for="title">Title: </label>
      <input id="title" type="text" name="post[title]">
    </div>
    <div class="input_field">
      <label for="category">Category: </label>
      <input id="category" type="text" name="category">
    </div>
    <div class="input_field">
      <label for="email">Email: </label>
      <input id="email" type="email" name="post[email]">
    </div>
    <div class="input_field">
      <label for="price">Price: </label>
      <input id="price" type="text" name="post[price]">
    </div>
    <div class="input_field">
      <label for="content">Content: </label>
      <textarea cols="22" rows="6" id="content" name="post[content]"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit post">
    </div>
  </form>
</div>
