<h1><a href="/">CraigsList Jr</a></h1>

<form action="/create" method="POST">
<div>
  <label for="title">Title: </label>
  <input id="title" type="text" name="post[title]">
  <label for="category">Category: </label>
  <input id="category" type="text" name="category">
  <label for="email">Email: </label>
  <input id="email" type="email" name="post[email]">
  
  <label for="price">Price: </label>
  <input id="price" type="text" name="post[price]">  
  <label for="content">Content: </label>
  <textarea cols="40" rows="6" id="content" name="post[content]"></textarea>
  <input type="submit" value="Submit post">
</div>
</form>
