<div class="inner_container">
    <div class="category">
      <h2>> Categories</h2>
    </div>
  <div class="list">
    <ul>
      <% @category_list.each do |cat| %>
        <li class="item"><a href= "/cat/<%= cat.name %>"><%= cat.name %> (<%= cat.post_count %>)</a></li>
      <% end %>
    </ul>
  </div>
  <div class="new_post"><a href="/create">Create New Post</a></div>
  <div class="new_post"><a href="/create">Edit Old Post</a></div>
</div>
