
  <h1>CraigsList Jr.</h1>
  <ul>
    <li> <a href= "/cat"> Cars </a> </li>
    <li><a href= "/cat">Jobs</a></li>
    <li><a href= "/cat">Sports</a></li>
    <li><a href= "/cat">Politics</a></li>
    <li><a href= "/cat">Other</a></li>

  </ul>
  <a href="/create">Create New Post</a>

