
  <h1>CraigsList Jr.</h1>
  <ul>
    <% @category_list.each do |cat| %>
      <li><a href= "/cat/<%= cat.name %>"><%= cat.name %></a></li>
    <% end %>
  </ul>
  <a href="/create">Create New Post</a>
